<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">StoryBooks</h5>
            <p class="grey-text text-lighten-4">Everyone has a story. Share yours with the world.</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
                <li>
                    <a class="grey-text text-lighten-3" href="/stories">Public stories</a>
                </li>
                 <li>
                    <a class="grey-text text-lighten-3" href="#!">About</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{{#if currentUser}}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a href="/stories/new" class="btn-floating btn-large waves-effect waves-light red right pulse">
        <i class="material-icons">add</i>
    </a>
</div>
{{/if}}
<div class="footer-copyright">
    <div class="container">
        © 2018 Copyright
        <span class="grey-text text-lighten-4 right">Made with by <i class="fa fa-heart"></i><a  href="#"> Jc</a></span> 
    </div>
</div>